:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: calc(16px + 0.2vw);
}

html, body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  max-width: 2560px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: white;
  transform-origin: top center;
}

#container {
  width: 100%;
  margin: 0 auto;
}